<nav>
	<div class="nav-wrapper">
	  <a href="#" class="brand-logo">News Scraper</a>
	  <ul id="nav-mobile" class="right hide-on-med-and-down">
	    <li><a href="https://github.com/xltunited/News-Scraper">Github</a></li>
	  </ul>
	</div>
</nav>

<div class="container-fluid">
  <!-- Page Content goes here -->

  <div class="row">
  	
  	<div class="col s8 center offset-s2">
		
			<p>Welcome to your one news site!</p>

			<a href="/article" class="waves-effect waves-light btn pink accent-1 center">Begin</a>

		</div>	

  </div>
	

</div>